<!DOCTYPE html>
<html>
  <head>
    <%- include('templates/standard.ejs') %>
    <link rel="stylesheet" href="/stylesheets/gameList.css">
    <script src="/scripts/gameList.js"></script>
  </head>
  <body>
    <%- include('templates/navBar.ejs') %>

    <div class="main"> 
      <div class="header">
        <h1>browse games</h1>
        <div>choose a game to join or create your own</div>
      </div>
      <div class="table">
        <% for (room of rooms) { %>
          <% if (room.password) { %>
          <!-- <div class="row" onclick="handlePassword('<%= room.id %>')"> -->
          <div class="row private-row" id="<%= room.id %>">
          <% } else { %> 
          <div class="row" onclick="window.location='/game/<%= room.id %>'">
          <% } %>
            <div class="col"><%= room.name %></div> 
            <div class="col">Battle Royale</div>
            <div class="col"><%= room.users.length %>/7</div>
            <div class="col <%= (room.password) ? 'private-col' : '' %>" id="password-<%= room.id %>"><%= (room.password) ? 'Private' : '' %></div>
            <!-- <div><input class='password-input'></div> -->
          </div>
        <% } %>
      </div>
    </div>
  </body>
</html>