<!DOCTYPE html>
<html>
  <head>
    <%- include('templates/standard.ejs') %>
    <link rel="stylesheet" href="/stylesheets/gameList.css">
    <script src="/scripts/gameList.js"></script>
  </head>
  <body>
    <%- include('templates/navBar.ejs') %>

    <div class="main"> 
      <div class="header">
        <h1>browse games</h1>
        <div>choose a game to join or create your own</div>
      </div>
      <div class="table">
        <% for (room of rooms) { %>
          <form class="row-form" id="<%= room.id %>" action="/game" method="POST" onsubmit="handleSubmit()">
            <div class="row">
              <div class="col"><%= room.name %></div> 
              <div class="col">Battle Royale</div>
              <div class="col"><%= room.users.length %>/7</div>
            </div>
          </form>
        <% } %>
      </div>
    </div>
  </body>
</html>